@model IEnumerable<MiAppMVC.Models.Cliente>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Detalle del Cliente</h1>


<table class="table table-success table-striped">
    <thead>
        <tr>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.RazonSocial)
            </th>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.Documento)
            </th>
            <th class="col-sm-2">
                @Html.DisplayNameFor(model => model.Estado)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Nombre)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.RazonSocial)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Documento)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Estado)
                </th>
            </tr>
        }
    </tbody>

</table>



@*<div>
<a class="btn btn-success" asp-action="Edit" asp-route-id="@Model.IdCliente">Editar</a> |
<a class="btn btn-outline-secondary" asp-action="Index">Volver</a>
</div>*@
